<table width="100%" border="0">
   
      <tr>
        <td><strong>Date</strong></td>
        <td><strong>Particulars</strong></td>
        <td align="right"><strong>Debit </strong></td>
        <td align="right"><strong>Credit </strong></td>
        <td align="right"><strong>Balance</strong></td>
      </tr>
      {%for d in data%}
      <tr>
        <td>{{frappe.format(d.posting_date, {"fieldtype":"Date"})}}</td>
        <td><p>#{{d.voucher_no}}, {{d.account}}, {{d.party}}</p>
         
          
            <table width="100%" border="0">
            
                {%for item in d.items%}
              <tr style="border-right: 2px solid black;border-left: 2px solid black;">
                <td width="40%">{{item.item_code}}</td>
                <td width="20%" align="right"><strong>{{frappe.format(item.qty, {"fieldtype":"Float"})}}</strong></td>
                <td width="20%" align="right"><strong>{{frappe.format(item.rate, {"fieldtype":"Float"})}}</strong></td>
                <td width="20%" align="right"><strong>{{frappe.format(item.amount, {"fieldtype":"Float"})}}</strong></td>
              </tr>
                {%endfor%}
            </table>
        
        <td align="right">{{frappe.format(d.debit_in_account_currency, {"fieldtype":"Float"})}}</td>
        <td align="right">{{frappe.format(d.credit_in_account_currency, {"fieldtype":"Float"})}}</td>
        <td align="right">0</td>
      </tr>
      {%endfor%}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

  </table>
  